.input-wrapper {
  margin: 2em 0;
  display:flex;
  flex-direction: column;
}

.input-wrapper input{
  padding: 5px 5px;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1em;
}
